<html ng-app="myBookingApp">
	<head>
	<meta charset="utf-8">
	
	 
	<!-- Latest compiled and minified CSS -->
<!--
	<script src="lib/bootstrap.min.js"></script>
	<link rel="stylesheet" src="lib/bootstrap.min.css" media="screen">
-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
 crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<title>Car Location App</title>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	<script src="controllers/controller.js"></script>
	</head>
		<body>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>        
         <script src="lib/angular.js"></script>
		 <link rel="stylesheet" href="angularjs-datetime-picker.css" />
 <script src="lib/angularjs-datetime-picker.js"></script>
  <script src="lib/moment.min.js"></script>
         
         <script src="lib/bootstrap.min.js"></script>
		<div class="container" ng-controller="appCtrl" class ="form-control">
		<h3> Car Location App</h3>
		
  
		<table class="table">
		<thead>
		<tr>
		
		<th>Data Group ID:</th>
		<th>Cars Available</th>
		<th>Cars Available Location</th>
		<th><input type="datetime-local" ng-model="time" /></th>
		<th> <button class="btn btn-primary" ng-click="getBookingData()">Get Car</button></th>
		
		
		</tr>
		
		</thead>
		<tbody ng-repeat="car in carList">
		<tr ng-repeat="sub in car.value track by $index" >
						
			
			<!--<td id="markerLat"> {{sub.dropoff_locations}}{{$index}}</td>-->
			<td  ng-show="{{sub.available_cars}}"  ng-model="sub.id"> {{sub.id}}</td>
			
			<td ng-show="{{sub.available_cars}}"  ng-model="sub.availableCars">{{sub.available_cars}}</td>
			<td ng-show="{{sub.available_cars}}" ng-model="sub.LatLng">{{sub.location}}</td>
		
			
			<td ng-show="{{sub.available_cars}}" > <button class=" btn btn-info" data-ng-click="lookLocation(sub.location,time)"  class="relocate">Find Car </button></td>
			<td ng-show="{{sub.available_cars}}" > <button class=" btn btn-danger" data-ng-click="bookCar($index,sub.available_cars,sub.location,time)"  class="relocate">Book Car </button></td>
			
		</tr>
		</tbody>
		</table>
	
		<div>
		<h4> Preview</h4>
		
		 
		</div>
		</div>
		
		
		
		</body>
</html>